<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	<bean id="vehicle" class="com.spring.spring_framework_demo.Truck"></bean>
	<bean id="tire" class="com.spring.spring_framework_demo.Tire">
		<!-- setter injection -->
		<!-- <property name="brand" value="Ceat"></property> -->
		<!-- constructor injection -->
		<constructor-arg value="MRF"></constructor-arg>
	</bean>
</beans>